.game {
  width: 470px;
  height: 470px;
  background-color: black;
  padding: 7.5px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .block {
    background-color: white;
    min-width: 102.5px;
    min-height: 102.5px;
    margin: 7.5px;

    // .value {
    //   font-size: 4rem;
    //   text-align: center;
    //   line-height: 102.5px;
    // }
  }
}